:root {
    --button: #c2185b;
    --error: #ff7a7a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', 'sans serif';
}

#root {
    padding: 90px 135px;
}

body {
    background-image: url(images/pattern.png);
    background-color: rgb(102, 10, 10);
}

/* Todo o conteúdo, lado esquerdo e direito */
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 625px;
}

/*Div com título e descrição */
.content .description {
    color: white;
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 280px;
}

/* Título */
.content .description h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

/* Descrição */
.content .description p {
}

/*------------------------------------*/

/*Cartão do lado direito */
.register {
    display: flex;
    flex-direction: column;
    width: 585px;
}

/* Botão de cima */
.register .price {
    color: white;
    background-color: var(--button);
    height: 60px;
    width: 535px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    gap: 20px;
}

/* Cada um dos input separadamente */
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Aqui modifica input e imagem */
.input-container .input {
    display: flex;
    width: 100%;
    height: 48px;
    border: 1px solid #DEDEDE;
    border-radius: 6px;
    padding: 0 24px;
    align-items: center;
}

.input-container p {
    display: none;
    align-self: flex-end;
    color: var(--error);
    opacity: 0.7;
    margin-top: 8px;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}

/*Caixa do input em si */
.input-container .input input {
    flex: 1;
    border: none;
    font-weight: 600;
}

.input-container .input img {
    width: 24px;
    height: 24px;
    display: none;
}

/*Borda vermelha quando dá ERRO */
.input-container.error .input {
    border-color: var(--error);
}

/* Cor vermelha quando tiver com ERRO */
.input-container.error .input input {
    color: var(--error);
}

/* Ícone e mensagem de erro */
.input-container.error .input img,
.input-container.error p {
    display: block;
}


/* Botão de baixo */
.register .trial {
    color: white;
    background-color: var(--button);
    height: 60px;
    width: 535px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}

.card #terms {
    font-size: 12px;
    color: #CCCBD3;
    font-weight: 400;
    text-align: center;
}

.card #terms a {
    color: #E37E82;
    font-weight: 600;
}